*{
  
}
.boder{
    background-color: rgba(155, 155, 155, 0.288);
    text-align: center;
    padding: 10px;
   
}
span{
    font-size: 1.5rem;
}
.navbar{
    display: flex;
    font-size: 1.1rem;
    margin-top: 40px;
    gap: 400px;
    align-items: center;
   align-items: center;
   margin-left: 90px;
 
}
.nav{
  

}
.nav ul {
    display: flex;
    gap: 20px;
    list-style-type: none;
}
.hero{
    background-color: rgb(72, 80, 179);
    height: 490px;
    margin-top: 100px;
   
    
}
#hero{
    text-align: center;
    position: relative;
    margin-top: -400px;
   margin-left: 300px;
   margin-right: 300px;
    
    
}
.head{
    color: white;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}
img{
    margin-top: 30px;
}
.About{
    margin-top: 100px;
    display: flex;
    text-align: center;
    margin-left: 300px;
}
.Service{
    margin-top: 100px;
    
}
#service{
    text-align: center;
   
   
}
.numbers{
    display: flex;
    gap: 40px;
    text-align: center;
    margin-top: 40px;
    margin-left: 300px;
}
.review{
    text-align: center;
    margin-top: 80px;
}

.blog{
    text-align: center;
    margin-top: 100px;
}
.Contact{
    text-align: center;
    margin-top: 300px;
    background-color: blue;
}

#blog{
    margin-top: 200px;
}
#contact{
    text-align: center;
    
}
input{
    padding: 30px 80px;
    gap: 20px;
}
.input{
    text-align: center;
    background-color: blue;

}
#input{
    margin-top: 60px;

}
.submit{
    margin-top: 50px;
}
#submit{
    margin-top: 50px;
}
.footer{
    text-align: center;
    margin-top: 30px;
}


@media (max-height: 768) {
    boder{ 
        font-size: 1rem;
    }
}